env
src/web/db.sqlite3
src/web/*.pyc
src/web/counter/__pycache__/__init__.cpython-38.pyc
src/web/counter/__pycache__/admin.cpython-38.pyc
src/web/counter/__pycache__/models.cpython-38.pyc
src/web/counter/__pycache__/urls.cpython-38.pyc
src/web/counter/__pycache__/views.cpython-38.pyc
src/web/counter/migrations/__pycache__/__init__.cpython-38.pyc
src/web/counter/migrations/__pycache__/0001_initial.cpython-38.pyc
src/web/counter/migrations/__pycache__/0002_counter_counter_number.cpython-38.pyc
src/web/counter/migrations/__pycache__/0003_remove_counter_current_number.cpython-38.pyc
src/web/counter/migrations/__pycache__/0004_remove_counter_slug.cpython-38.pyc
src/web/counter/migrations/__pycache__/0005_auto_20200731_2214.cpython-38.pyc
src/web/counter/migrations/__pycache__/0006_auto_20200731_2324.cpython-38.pyc
src/web/job/__pycache__/__init__.cpython-38.pyc
src/web/job/__pycache__/admin.cpython-38.pyc
src/web/job/__pycache__/models.cpython-38.pyc
src/web/job/__pycache__/urls.cpython-38.pyc
src/web/job/__pycache__/views.cpython-38.pyc
src/web/job/migrations/__pycache__/__init__.cpython-38.pyc
src/web/job/migrations/__pycache__/0001_initial.cpython-38.pyc
src/web/job/migrations/__pycache__/0002_job_started_date.cpython-38.pyc
src/web/job/migrations/__pycache__/0003_auto_20200731_2236.cpython-38.pyc
src/web/job/migrations/__pycache__/0004_auto_20200803_1416.cpython-38.pyc
src/web/qsystem/__pycache__/__init__.cpython-38.pyc
src/web/qsystem/__pycache__/settings.cpython-38.pyc
src/web/qsystem/__pycache__/urls.cpython-38.pyc
src/web/qsystem/__pycache__/views.cpython-38.pyc
src/web/qsystem/__pycache__/wsgi.cpython-38.pyc
src/web/section/__pycache__/__init__.cpython-38.pyc
src/web/section/__pycache__/admin.cpython-38.pyc
src/web/section/__pycache__/models.cpython-38.pyc
src/web/section/__pycache__/urls.cpython-38.pyc
src/web/section/__pycache__/views.cpython-38.pyc
src/web/section/migrations/__pycache__/__init__.cpython-38.pyc
src/web/section/migrations/__pycache__/0001_initial.cpython-38.pyc
src/web/section/migrations/__pycache__/0002_remove_section_slug.cpython-38.pyc
src/web/section/migrations/__pycache__/0003_auto_20190713_2121.cpython-38.pyc
src/web/section/migrations/__pycache__/0004_section_prefix.cpython-38.pyc
src/web/section/migrations/__pycache__/0005_section_color.cpython-38.pyc
src/web/section/migrations/__pycache__/0006_auto_20200803_1416.cpython-38.pyc
src/web/section/migrations/__pycache__/0007_auto_20200810_0915.cpython-38.pyc
