{% extends 'base-main.html' %}
{% load humanize %}

{% block title %}LCB1 - Counter{% endblock %}

{% block meta %}
    <meta http-equiv="refresh" content="10">
{% endblock meta %}

{% block content %}
<div id="app">
	<h1>{{object}}</h1>
	<a href="{% url 'counter:list' %}">back</a>

	<h3>On Working Job</h3>
	
	<table>
		{% for job in working_job_list %}
		<tr>
			<td>
				<h2><span class="badge" style="background-color: {{job.section.color}};color: #ffffff;">{{job.section.prefix}}{{job.queue_number}} </span></h2>
			</td>
			<td>
			{{job.created_date}} ({{job.created_date|timesince}}) 
			 <a href="{% url 'job:calljob' job.pk %}">Call </a>|<a href="{% url 'job:complete' job.pk %}">Job Done </a> | <a href="{% url 'job:cancel' job.pk %}">Cancel</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<h3>Pending Job (On Queue : {{ pending_job_list.count }} jobs)</h3>
	<a href="?section=">
		{% if request.GET.section == '' or request.GET.section == None  %}
			<span class="badge" style="background-color:#445566;color: #FFFFFF;">
			ALL </span>
		{% else %}
			ALL
		{% endif %}
	</a> |
	{% for section in section_list %}
		{% if section.name == request.GET.section %}
			<span class="badge" style="background-color:{{section.color}};color: #FFFFFF;">
			{{section.prefix}}-{{section}} </span>
		{% else %}
			<a href="?section={{section}}">{{section.prefix}}-{{section}}</a> 
		{% endif %}
		|
	{% endfor %}
	<br>
	<table>
 	{% for job in pending_job_list %}
 		{% if job.counter == None %}

 			<span class="badge" style="background-color: {{job.section.color}};color: #ffffff;">{{job.section.prefix}}{{job.queue_number}} -- {{job.created_date|naturaltime}} </span><a href="{% url 'job:assign' job.pk object.pk %}"><i class="fas fa-plus-circle"></i> </a> 
				   <a href="{% url 'job:delete' job.pk %}"><i class="fas fa-trash-alt"></i></a> ||

 			<!-- <tr>
				<td>
					<h2><span class="badge" style="background-color: {{job.section.color}};color: #ffffff;">{{job.get_full_name}} </span></h2>
				</td>
				<td>
				{{job.created_date}} ({{job.created_date|timesince}}) 
				 <a href="{% url 'job:assign' job.pk object.pk %}">Accept Job </a> 
				  | <a href="{% url 'job:delete' job.pk %}">Delete</a>
				</td>
		 	<tr> -->
		{% endif %}
	{% endfor %}
	</table>
</div>
{% endblock content %}


 {% block script %}
 {% endblock %}