{% extends 'base.html' %}

{% block title %}LCB1 - Home{% endblock %}

{% block meta %}
    <meta http-equiv="refresh" content="5">
{% endblock meta %}

{% block content %}
 <div>
<table style="width:100%;height=100%" border="1" height="700">
   <tr>
    <td class="counter">1</td>
    <td class="q"><strong>{{c1}}</strong></td> 
    <td class="counter">7</td>
    <td class="q"><strong>{{c7}}</strong></td>
  </tr>
  
  <tr>
    <td class="counter">2</td>
    <td class="q"><strong>{{c2}}</strong></td> 
    <td class="counter">8</td>
    <td class="q"><strong>{{c8}}</strong></td>
  </tr>
  
  <tr>
    <td class="counter">3</td>
    <td class="q"><strong>{{c3}}</strong></td> 
    <td class="counter">9</td>
    <td class="q"><strong>{{c9}}</strong></td>
  </tr>
  
  <tr>
    <td class="counter">4</td>
    <td class="q"><strong>{{c4}}</strong></td> 
    <td class="counter">10</td>
    <td class="q"><strong>{{c10}}</strong></td>
  </tr>
  
  <tr>
    <td class="counter">5</td>
    <td class="q"><strong>{{c5}}</strong></td> 
    <td class="counter">11</td>
    <td class="q"><strong>{{c11}}</strong></td>
  </tr>
  
  <tr>
    <td class="counter">6</td>
    <td class="q"><strong>{{c6}}</strong></td> 
    <td class="counter">12</td>
    <td class="q"><strong>{{c12}}</strong></td>
  </tr>
  
</table>
</div>
{% endblock content %}




{% block javascript %}

{% endblock javascript %}


 {% block script %}

      {% endblock %}


{% block stylesheet %}
.counter {
      width:25%;
        background-color:powderblue;
        text-align:center;
        font-family:verdana;
        font-size:70px
    }
    .q {
      width:25%;
        text-align:center;
        font-family:verdana;
        font-size:70px
    }
   

{% endblock stylesheet %}



